<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title> Likes </title>
</head>

<body>
    <h1>User </h1>
    <table>
        <tr>
            <th style="text-align:left"> Username: {{user.username}}
            <td>
        <tr>
            <th style="text-align:left"> Likes: {{user.account.likes}}
            <td>
        <!-- <tr>
            <th style="text-align:left"> Friends:
            <td> -->
    </table>
    <form action='logout/' method="POST">
        {% csrf_token %}
        <input type="submit" value="Logout" />
    </form>
    <h2> </h2>
    <form id='transfer' action='transfer/' method="GET">
        <span>To:</span><br/>
        <select name="to">
        {% for account in accounts %}
            <option value="{{account.user.username}}">{{account.user.username}}</option>
        {% endfor %}
        </select><br/>
        <input type="submit" value="Like" />
    </form>
</body>
</body>

</html>