<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title> Likes </title>
</head>

<body>
    <h1> User </h1>
    <table>
        <tr>
            <th style="text-align:left"> Username: {{user.username}}
            <td>
        <tr>
            <th style="text-align:left"> Likes: {{user.account.likes}} 
            <td>
        <tr>
            <tr>
                <th style="text-align:left"> {{ user.account.profile | safe }}
                <td>
            <tr>
    
                
            <td>
                <form id='profile' action='profile/' method="POST">
                    {% csrf_token %}
                    <input type="text" name="profile" value="profile" />
                    <input type="submit" value="add description"/>
                </form>
    </table>
    <form action='logout/' method="POST">
        {% csrf_token %}
        <input type="submit" value="Logout" />
    </form>
    <h2> </h2>
    <form id='like' action='like/' method="GET">
        <span>Add like to:</span><br />
        <select name="to">
            {% for account in accounts %}
            <option value="{{account.user.username}}">{{account.user.username}}</option>
            {% endfor %}
        </select><br />
        <input type="submit" value="Like" />
    </form>
</body>
</body>

</html>